.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-wrapper {
  position: relative;
  z-index: 1000;
  padding: 20px 40px;
  border-radius: 8px;
  min-width: 40%;
  background: white;
  animation: modal 0.7s forwards;
  transform: translateY(200px);

  @keyframes modal {
    0% {
      transform: translateY(200px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  &_close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: rgb(6, 122, 151);
    border-radius: 8px;
    position: absolute;
    top: 20px;
    right: 15px;
    border: 2px solid rgb(169, 168, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    &:hover {
      opacity: 0.8;
    }
    span {
      position: relative;
      top: -3px;
    }
  }

  &_section {
    margin: auto;

    &_inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }
    h1 {
      font-size: 20px;
      color: rgb(6, 122, 151);
    }

    p {
      font-weight: 600;
      font-size: 16px;
    }

    &-input {
      input {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid rgb(171, 171, 171);
        padding: 10px 5px;
        border-radius: 5px;
        margin: 4px 0;
      }
      span {
        font-weight: bold;
        font-size: 13px;
      }
    }

    &-textarea {
      display: block;
      textarea {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid rgb(171, 171, 171);
        border-radius: 5px;
        margin: 4px 0;
      }
      span {
        font-weight: bold;
        font-size: 13px;
      }
    }

    &-button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 10px;

      button {
        width: 100px;
        height: 40px;
        border-radius: 4px;
        background-color: rgb(6, 122, 151);
        color: white;
        text-align: center;
        border: 0;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}
