.card {
  position: relative;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  border: 1px solid rgb(199, 197, 197);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
  }

  &-icon {
    position: absolute;
    right: 17px;
    top: 17px;
    cursor: pointer;
  }

  &-items {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    &-item-wrapper {
      position: relative;
      padding: 5px;
      width: 100%;
      box-sizing: border-box;
      &_item {
        width: 100%;
        box-sizing: border-box;
        text-align: start;
        background-color: rgb(226, 223, 223);
        border-radius: 4px;
        margin: 4px 0;
        padding: 8px;
      }
    }

    .border-style {
      border-top: 1px solid rgb(199, 197, 197);
      border-bottom: 1px solid rgb(199, 197, 197);
    }

    p {
      padding: 14px 0;
    }
  }
}
